<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type=""
        href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
        color="#111">
    <title>Tìm hiểu jquery</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

</head>

<body>

    <div class="blog-slider">

        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide swiper-slide-active">
                <div class="blog-slider__img">
                    <img id="imgGroup"
                        src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg"
                        alt="">
                </div>
                <div class="blog-slider__content">
                    <div class="blog-slider__title">Nhóm 99</div>
                    <div class="blog-slider__text" id="blog-text">Đề tài</div>
                    <div class="blog-slider__text" id="typing"></div>
                    <button class="blog-slider__button">Xem thành viên</button>
                </div>
            </div>
        </div>
    </div>
    <div class="profile"></div>

    <!-- view modal -->
    <div class="modal" id="view">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thành viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Tên:</label>
                            <input type="text" class="form-control" id="view__name" disabled="true">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Job:</label>
                            <input type="text" class="form-control" id="view__job" name="job" disabled="true">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Mô tả:</label>
                            <textarea class="form-control" id="view__des" disabled="true"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Ảnh:</label>
                            <div class="fileUpload">
                                <img src="" class="imgPreview" alt="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- edit modal -->
    <div class="modal" id="edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thành Viên</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form encType="multipart/form-data" method="POST" id="edit-form">
                        <div class="form-group">
                            <label class="col-form-label">Tên:</label>
                            <input type="text" class="form-control" id="edit__name" name="name">
                            <input type="hidden" class="form-control" id="edit__id" name="id" disabled="true">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Job:</label>
                            <input type="text" class="form-control" id="edit__job" name="job">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Mô tả:</label>
                            <textarea class="form-control" id="edit__des" name="des"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Upload Ảnh:</label>
                            <div class="fileUpload">
                                <img src="" class="imgPreview" alt="">
                            </div>
                            <input type="file" name="image" id="imgpro" />

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="save">Lưu</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>
<script src="./js/typing.js"></script>
<script src="./js/main.js"></script>
</html>